In [170]:
from dotenv import load_dotenv
from langchain_core.messages import SystemMessage
from langchain_core.messages import HumanMessage
from langgraph.prebuilt import create_react_agent
from langgraph.checkpoint.sqlite import SqliteSaver
from langchain_community.utilities import SQLDatabase
from langchain_community.agent_toolkits import SQLDatabaseToolkit
from langchain_openai import ChatOpenAI
from langchain_community.vectorstores import FAISS
from langchain_core.example_selectors import SemanticSimilarityExampleSelector
from langchain_openai import OpenAIEmbeddings


import os
os.environ["OPENAI_API_KEY"]=""
os.environ["LANGCHAIN_ENDPOINT"] = ""
os.environ["LANGCHAIN_PROJECT"] = ""
os.environ["LANGCHAIN_API_KEY"] = ""

load_dotenv()

True

## DataBase Configuration

In [149]:

db = SQLDatabase.from_uri("sqlite:///sqllite_database/advisors.db")
print("Dialets of DB ", len(db.dialect))
print("Length of DB ", len(db.get_usable_table_names()))
print("Tables in DB ", db.get_usable_table_names())

# Creating SQL ToolKit
llm = ChatOpenAI(model="gpt-4o")
toolkit = SQLDatabaseToolkit(db=db, llm=llm)

Dialets of DB  6
Length of DB  3
Tables in DB  ['advisors', 'brokercheck_data', 'linkedin_profiles']

## Trying to Generate Query from English

In [151]:
from langchain.chains import create_sql_query_chain


chain = create_sql_query_chain(llm, db)
chain.get_prompts()[0].pretty_print()


context = db.get_context()
prompt_with_context = chain.get_prompts()[0].partial(table_info=context["table_info"])

You are a SQLite expert. Given an input question, first create a syntactically correct SQLite query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most 5 results using the LIMIT clause as per SQLite. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in double quotes (") to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use date('now') function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use the following tables:
{table_info}

Question: {input}

### Few Shot Learning Examples

In [153]:

examples = [
    {
        "input": "Tell me more about Stephen Bryars?",
        "query": "SELECT * FROM advisors WHERE first_name = 'Stephen' AND last_name = 'Bryars';"
    },
    {
        "input": "What schools did Douglas Gaines go to?",
        "query": "SELECT linkedin_profiles.educations FROM linkedin_profiles JOIN advisors ON linkedin_profiles.advisor_id = advisors.id WHERE advisors.first_name = 'Douglas' AND advisors.last_name = 'Gaines';"
    },
    {
        "input": "Do they have any disclosure? If so, how recent and what was the dollar amount?",
        "query": "SELECT disclosures FROM brokercheck_data JOIN advisors ON brokercheck_data.advisor_id = advisors.id WHERE advisors.first_name = 'James' AND advisors.last_name = 'Myatt';"
    },
    {
        "input": "Who does James Myatt work for?",
        "query": "SELECT broker_dealer, ria FROM advisors WHERE first_name = 'James' AND last_name = 'Myatt';"
    },
    {
        "input": "How many people work at Stifel, Nicolaus & Company, Incorporated?",
        "query": "SELECT COUNT(*) FROM advisors WHERE firm_company_name = 'Stifel, Nicolaus & Company, Incorporated';"
    },
    {
        "input": "Find the LinkedIn profile of George Damasco.",
        "query": "SELECT * FROM linkedin_profiles JOIN advisors ON linkedin_profiles.advisor_id = advisors.id WHERE advisors.first_name = 'George' AND advisors.last_name = 'Damasco';"
    },
    {
        "input": "List all advisors in Bellevue, WA.",
        "query": "SELECT * FROM advisors WHERE city = 'Bellevue' AND state = 'WA';"
    },
    {
        "input": "What are the previous broker-dealer and ria for Thomas Hoffman?",
        "query": "SELECT previous_broker_dealer, previous_ria FROM advisors WHERE first_name = 'Thomas' AND last_name = 'Hoffman';"
    },
    {
        "input": "How many years of experience does Stephen Bryars have?",
        "query": "SELECT years_of_experience FROM advisors WHERE first_name = 'Stephen' AND last_name = 'Bryars';"
    },
    {
        "input": "What licenses and exams does Douglas Gaines have?",
        "query": "SELECT licenses_exams FROM advisors WHERE first_name = 'Douglas' AND last_name = 'Gaines';"
    },
    {
        "input": "Find all LinkedIn profiles of advisors who are not open to work.",
        "query": "SELECT * FROM linkedin_profiles WHERE isOpenToWork = FALSE;"
    },
    {
        "input": "List all advisors who have worked for more than 10 years with their current broker-dealer.",
        "query": "SELECT * FROM advisors WHERE years_with_current_bd > 10;"
    },
    {
        "input": "What is the estimated age of James Myatt?",
        "query": "SELECT est_age FROM advisors WHERE first_name = 'James' AND last_name = 'Myatt';"
    },
    {
        "input": "How many advisors work in Florida?",
        "query": "SELECT COUNT(*) FROM advisors WHERE state = 'FL';"
    },
    {
        "input": "List all advisors who have a LinkedIn profile picture.",
        "query": "SELECT * FROM linkedin_profiles WHERE profilePicture IS NOT NULL;"
    }
]

### Generating Query

In [160]:
from langchain_core.prompts import FewShotPromptTemplate, PromptTemplate

example_prompt = PromptTemplate.from_template("User input: {input}\nSQL query: {query}")
prompt = FewShotPromptTemplate(
    examples=examples[:5],
    example_prompt=example_prompt,
    prefix="You are a SQLite expert. Given an input question, create a syntactically correct SQLite query to run. Unless otherwise specificed, do not return more than {top_k} rows.\n\nHere is the relevant table info: {table_info}\n\nBelow are a number of examples of questions and their corresponding SQL queries.",
    suffix="User input: {input}\nSQL query: ",
    input_variables=["input", "top_k", "table_info"],
)
print("--------------------------------------------------------------------------------------------------------------")
print("Prompt Sended to LLM\n\n" , prompt.format(input="How many advisors are there?", top_k=1, table_info="advisor"))

# Getting similar examples

example_selector = SemanticSimilarityExampleSelector.from_examples(
    examples,
    OpenAIEmbeddings(),
    FAISS,
    k=5,
    input_keys=["query"],
)

# Generating Sql Query
chain = create_sql_query_chain(llm, db, prompt)
response = chain.invoke({"question": "what school did Bill Stropp go to?"})
print("--------------------------------------------------------------------------------------------------------------")
print("Response From LLM \n\n", response)

--------------------------------------------------------------------------------------------------------------
Prompt Sended to LLM

 You are a SQLite expert. Given an input question, create a syntactically correct SQLite query to run. Unless otherwise specificed, do not return more than 1 rows.

Here is the relevant table info: advisor

Below are a number of examples of questions and their corresponding SQL queries.

User input: Tell me more about Stephen Bryars?
SQL query: SELECT * FROM advisors WHERE first_name = 'Stephen' AND last_name = 'Bryars';

User input: What schools did Douglas Gaines go to?
SQL query: SELECT linkedin_profiles.educations FROM linkedin_profiles JOIN advisors ON linkedin_profiles.advisor_id = advisors.id WHERE advisors.first_name = 'Douglas' AND advisors.last_name = 'Gaines';

User input: Do they have any disclosure? If so, how recent and what was the dollar amount?
SQL query: SELECT disclosures FROM brokercheck_data JOIN advisors ON brokercheck_data.advisor_id = advisors.id WHERE advisors.first_name = 'James' AND advisors.last_name = 'Myatt';

User input: Who does James Myatt work for?
SQL query: SELECT broker_dealer, ria FROM advisors WHERE first_name = 'James' AND last_name = 'Myatt';

User input: How many people work at Stifel, Nicolaus & Company, Incorporated?
SQL query: SELECT COUNT(*) FROM advisors WHERE firm_company_name = 'Stifel, Nicolaus & Company, Incorporated';

User input: How many advisors are there?
SQL query:
--------------------------------------------------------------------------------------------------------------
Response From LLM

 ```sql
SELECT linkedin_profiles.educations
FROM linkedin_profiles
JOIN advisors ON linkedin_profiles.advisor_id = advisors.id
WHERE advisors.first_name = 'Bill' AND advisors.last_name = 'Stropp';
```

### Trying Different Prompts

In [161]:
from langchain_core.output_parsers import StrOutputParser
from langchain_core.prompts import ChatPromptTemplate

system = """Double check the user's {dialect} query for common mistakes, including:
- Using NOT IN with NULL values
- Using UNION when UNION ALL should have been used
- Using BETWEEN for exclusive ranges
- Data type mismatch in predicates
- Properly quoting identifiers
- Using the correct number of arguments for functions
- Casting to the correct data type
- Using the proper columns for joins

If there are any of the above mistakes, rewrite the query.
If there are no mistakes, just reproduce the original query with no further commentary.

Output the final SQL query only."""
prompt = ChatPromptTemplate.from_messages(
    [("system", system), ("human", "{query}")]
).partial(dialect=db.dialect)
validation_chain = prompt | llm | StrOutputParser()

full_chain = {"query": chain} | validation_chain

In [162]:
system = """You are a {dialect} expert. Given an input question, create a syntactically correct {dialect} query to run.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per {dialect}. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in double quotes (") to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use date('now') function to get the current date, if the question involves "today".

Only use the following tables:
{table_info}

Write an initial draft of the query. Then double check the {dialect} query for common mistakes, including:
- Using NOT IN with NULL values
- Using UNION when UNION ALL should have been used
- Using BETWEEN for exclusive ranges
- Data type mismatch in predicates
- Properly quoting identifiers
- Using the correct number of arguments for functions
- Casting to the correct data type
- Using the proper columns for joins

Use format:

First draft: <<FIRST_DRAFT_QUERY>>
Final answer: <<FINAL_ANSWER_QUERY>>
"""
prompt = ChatPromptTemplate.from_messages(
    [("system", system), ("human", "{input}")]
).partial(dialect=db.dialect)


def parse_final_answer(output: str) -> str:
    return output.split("Final answer: ")[1]


chain = create_sql_query_chain(llm, db, prompt=prompt) | parse_final_answer
prompt.pretty_print()

================================ System Message ================================

You are a {dialect} expert. Given an input question, create a syntactically correct {dialect} query to run.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per {dialect}. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in double quotes (") to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use date('now') function to get the current date, if the question involves "today".

Only use the following tables:
{table_info}

Write an initial draft of the query. Then double check the {dialect} query for common mistakes, including:
- Using NOT IN with NULL values
- Using UNION when UNION ALL should have been used
- Using BETWEEN for exclusive ranges
- Data type mismatch in predicates
- Properly quoting identifiers
- Using the correct number of arguments for functions
- Casting to the correct data type
- Using the proper columns for joins

Use format:

First draft: <<FIRST_DRAFT_QUERY>>
Final answer: <<FINAL_ANSWER_QUERY>>


================================ Human Message =================================

{input}

In [163]:
query = chain.invoke(
    {
        "question": "Who are the top 5 highest rated advisors?"
    }
)
print(query)

```sql
SELECT "first_name", "last_name", "years_of_experience"
FROM "advisors"
ORDER BY "years_of_experience" DESC
LIMIT 5;
```

# Get the exact data from Database

## Agent Based Reterival

In [167]:
def _modfify_message(query: str):

    SQL_PREFIX = """You are an agent designed to interact with a SQL database.
    Given an input question, create a syntactically correct SQLite query to run, then look at the results of the query and return the answer.
    Unless the user specifies a specific number of examples they wish to obtain, always limit your query to at most 5 results.
    You can order the results by a relevant column to return the most interesting examples in the database.
    Never query for all columns from a table. You must query only the columns that are needed to answer the question.
    Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
    Pay attention to use date('now') function to get the current date, if the question involves "today".

    Only use the following tables:
    {table_names}

    {table_info}
    
    Double check the {dialect} query for common mistakes, including:
    - Using NOT IN with NULL values
    - Using UNION when UNION ALL should have been used
    - Using BETWEEN for exclusive ranges
    - Data type mismatch in predicates
    - Properly quoting identifiers
    - Using the correct number of arguments for functions
    - Casting to the correct data type
    - Using the proper columns for joins

    You have access to tools for interacting with the database.

    Only use the below tools. Only use the information returned by the below tools to construct your final answer.
    You MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.

    DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.

    To start you should ALWAYS look at the tables in the database to see what you can query.
    Do NOT skip this step.
    Then you should query the schema of the most relevant tables."""

    examples = example_selector.select_examples({"query": query})
    x = [('human', f"Use the following examples to guide yourself: \n {examples}")]
    prompt = ChatPromptTemplate.from_messages(
        [("system", SQL_PREFIX), ("placeholder", "{examples}")]
    )

    prompt = prompt.invoke(
        {
            "examples": x,
            "table_info": context["table_info"],
            "table_names": context["table_names"],
            "dialect": db.dialect,
        }
    ).to_messages()

    return prompt

prompt = _modfify_message("how many advisors")
print(prompt[0].content)

You are an agent designed to interact with a SQL database.
    Given an input question, create a syntactically correct SQLite query to run, then look at the results of the query and return the answer.
    Unless the user specifies a specific number of examples they wish to obtain, always limit your query to at most 5 results.
    You can order the results by a relevant column to return the most interesting examples in the database.
    Never query for all columns from a table. You must query only the columns that are needed to answer the question.
    Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
    Pay attention to use date('now') function to get the current date, if the question involves "today".

    Only use the following tables:
    advisors, brokercheck_data, linkedin_profiles


CREATE TABLE advisors (
	id INTEGER NOT NULL,
	crd INTEGER,
	npn FLOAT,
	first_name VARCHAR,
	middle_name VARCHAR,
	last_name VARCHAR,
	other_names TEXT,
	team FLOAT,
	broker_dealer VARCHAR,
	broker_dealer_crd VARCHAR,
	years_with_current_bd VARCHAR,
	current_bd_start_date VARCHAR,
	ria VARCHAR,
	ria_crd VARCHAR,
	years_with_current_ria VARCHAR,
	current_ria_state_date VARCHAR,
	address VARCHAR,
	city VARCHAR,
	state VARCHAR,
	zip VARCHAR,
	metro_area VARCHAR,
	licenses_exams VARCHAR,
	title VARCHAR,
	designations VARCHAR,
	phone VARCHAR,
	phone_type VARCHAR,
	linkedin VARCHAR,
	email_1 VARCHAR,
	email_2 VARCHAR,
	email_3 VARCHAR,
	personal_email VARCHAR,
	bio VARCHAR,
	years_of_experience INTEGER,
	est_age FLOAT,
	previous_broker_dealer VARCHAR,
	previous_ria VARCHAR,
	gender VARCHAR,
	team_id INTEGER,
	person_tag_role FLOAT,
	person_tag_family VARCHAR,
	person_tag_hobbies VARCHAR,
	person_tag_expertise FLOAT,
	person_tag_services VARCHAR,
	person_tag_investments FLOAT,
	person_tag_sports_teams VARCHAR,
	person_tag_school VARCHAR,
	person_tag_greek_life VARCHAR,
	person_tag_military_status VARCHAR,
	person_tag_faith_based_investing VARCHAR,
	firm_tag_platform VARCHAR,
	firm_tag_technology VARCHAR,
	firm_tag_services VARCHAR,
	firm_tag_investments VARCHAR,
	firm_tag_custodian VARCHAR,
	firm_tag_clients FLOAT,
	firm_tag_crm VARCHAR,
	notes FLOAT,
	profile VARCHAR,
	sec_link VARCHAR,
	finra_link VARCHAR,
	firm_company_name VARCHAR,
	firm_type VARCHAR,
	firm_address VARCHAR,
	firm_city VARCHAR,
	firm_state VARCHAR,
	firm_zip VARCHAR,
	firm_phone VARCHAR,
	firm_aum INTEGER,
	firm_total_accounts INTEGER,
	firm_custodians VARCHAR,
	firm_total_employees FLOAT,
	firm_ria_reps INTEGER,
	firm_bd_reps FLOAT,
	firm_form_13f VARCHAR,
	lines FLOAT,
	carrier FLOAT,
	company FLOAT,
	initial_appointment_date FLOAT,
	captive FLOAT,
	num_of_carriers FLOAT,
	num_of_lines FLOAT,
	non_producing FLOAT,
	insurance_years_of_experience FLOAT,
	PRIMARY KEY (id)
)

/*
3 rows from advisors table:
id	crd	npn	first_name	middle_name	last_name	other_names	team	broker_dealer	broker_dealer_crd	years_with_current_bd	current_bd_start_date	ria	ria_crd	years_with_current_ria	current_ria_state_date	address	city	state	zip	metro_area	licenses_exams	title	designations	phone	phone_type	linkedin	email_1	email_2	email_3	personal_email	bio	years_of_experience	est_age	previous_broker_dealer	previous_ria	gender	team_id	person_tag_role	person_tag_family	person_tag_hobbies	person_tag_expertise	person_tag_services	person_tag_investments	person_tag_sports_teams	person_tag_school	person_tag_greek_life	person_tag_military_status	person_tag_faith_based_investing	firm_tag_platform	firm_tag_technology	firm_tag_services	firm_tag_investments	firm_tag_custodian	firm_tag_clients	firm_tag_crm	notes	profile	sec_link	finra_link	firm_company_name	firm_type	firm_address	firm_city	firm_state	firm_zip	firm_phone	firm_aum	firm_total_accounts	firm_custodians	firm_total_employees	firm_ria_reps	firm_bd_reps	firm_form_13f	lines	carrier	company	initial_appointment_date	captive	num_of_carriers	num_of_lines	non_producing	insurance_years_of_experience
1	1000034	None	Stephen	Wendell	Bryars	None	None	Mml Investors Services, Llc	10409	7.077	2017-03-25	Mml Investors Services, Llc	10409	7.077	2017-03-25	3 West Garden Street Suite 510	Pensacola	FL	32502	Pensacola-Ferry Pass-Brent, FL	SIE,Series 22,Series 6,Series 63,Series 65	Investment Advisor Representative	None	None	None	None	sbryars@bryarsfinancialgroup.com	None	None	None	https://strategicfinancialpartners.com/our-team/stephenbryars	43	None	Msi Financial Services, Inc.: 01/02/2015 - 03/25/2017, New England Securities: 08/10/1981 - 01/02/20	Msi Financial Services, Inc.: 01/02/2015 - 03/25/2017, New England Securities: 08/10/1981 - 01/02/20	male	1092980425364	None	None	None	None	None	None	None	None	None	None	None	eMoney,SEI Investments,Black Diamond,Assetmark,Brinker Capital,Envestnet	Nitrogen (Riskalyze),Smarsh,Carta,Broadridge,Factset,DocuSign,SmartAsset,FMG Suite,Calendly,RightCap	Financial Planning,Estate Planning,Tax Planning,Portfolio Construction,Asset Management,Insurance,In	Alternative Investments	Pershing,TD Ameritrade,Charles Schwab,Fidelity	None	Salesforce,Hubspot	None	https://app.planprofessional.com/advisor/person/1000034	https://adviserinfo.sec.gov/individual/summary/1000034	https://brokercheck.finra.org/individual/summary/1000034	MML INVESTORS SERVICES, LLC	Independent RIA, Broker-Dealer	1295 State Street	Springfield	MA	01111	(413)737-8400	72827710537	351645	FIDELITY/NFS	7130.0	7011	7130.0	Yes	None	None	None	None	None	None	None	None	None
2	1000059	None	Douglas	Pendleton	Gaines	None	None	Stifel, Nicolaus & Company, Incorporated	793	16.611	2007-09-14	Stifel, Nicolaus & Company, Incorporated	793	16.611	2007-09-14	10400 Northeast 4th Street, Suite 2000	Bellevue	WA	98004	Seattle-Tacoma-Bellevue, WA	SIE,Series 3,Series 63,Series 66,Series 7,Series 8	Financial Advisor	None	4256373600	landline	None	gainesd@stifel.com	None	None	None	http://www.stifel.com/fa/doug-gaines-crpc	43	None	A. G. Edwards & Sons, Inc.: 07/25/1989 - 09/19/2007, Shearson Lehman Hutton Inc.: 02/15/1988 - 08/21	None	male	114476452709	None	None	None	None	None	None	None	None	None	None	None	eMoney,Adhesion Wealth,Envestnet	Factset,FMG Suite,Zacks,Addepar,Broadridge,Global Relay,Smarsh,DocuSign	Asset Management,Tax Planning,Insurance,Wealth Planning,Portfolio Construction,Life Insurance,Retire	Alternative Investments	Pershing,Charles Schwab	None	Salesforce	None	https://app.planprofessional.com/advisor/person/1000059	https://adviserinfo.sec.gov/individual/summary/1000059	https://brokercheck.finra.org/individual/summary/1000059	STIFEL, NICOLAUS & COMPANY, INCORPORATED	Independent RIA, Broker-Dealer	501 North Broadway	St. Louis	MO	63102	314-342-2000	149248936163	348524	BARCLAYS,CHARLES SCHWAB & COMPANY,PERSHING,STIFEL	6534.0	3271	5160.0	No	None	None	None	None	None	None	None	None	None
3	1000072	None	James	Stephen	Myatt	James Stephen Myatt, James S Myatt, James S. Myatt, Steve Myatt	None	Stifel, Nicolaus & Company, Incorporated	793	7.529	2016-10-11	Stifel, Nicolaus & Company, Incorporated	793	7.529	2016-10-11	1200 West Highway 6 Suite 3	Waco	TX	76712	Waco, TX	SIE,Series 10,Series 4,Series 53,Series 63,Series 65,Series 7,Series 8,Series 9	Senior Manager	None	2543997450	landline	None	myattj@stifel.com	None	None	None	None	43	None	Wells Fargo Advisors, Llc: 08/21/2008 - 10/12/2016, Ubs Financial Services Inc.: 01/01/1991 - 09/17/	Wells Fargo Advisors, Llc: 08/21/2008 - 10/12/2016, Ubs Financial Services Inc.: 01/01/1991 - 09/17/	male	5765251462	None	None	None	None	None	None	None	None	None	None	None	eMoney,Adhesion Wealth,Envestnet	Factset,FMG Suite,Zacks,Addepar,Broadridge,Global Relay,Smarsh,DocuSign	Asset Management,Tax Planning,Insurance,Wealth Planning,Portfolio Construction,Life Insurance,Retire	Alternative Investments	Pershing,Charles Schwab	None	Salesforce	None	https://app.planprofessional.com/advisor/person/1000072	https://adviserinfo.sec.gov/individual/summary/1000072	https://brokercheck.finra.org/individual/summary/1000072	STIFEL, NICOLAUS & COMPANY, INCORPORATED	Independent RIA, Broker-Dealer	501 North Broadway	St. Louis	MO	63102	314-342-2000	149248936163	348524	BARCLAYS,CHARLES SCHWAB & COMPANY,PERSHING,STIFEL	6534.0	3271	5160.0	No	None	None	None	None	None	None	None	None	None
*/


CREATE TABLE brokercheck_data (
	id INTEGER NOT NULL,
	advisor_id INTEGER,
	disclosures JSON,
	timeline JSON,
	exams JSON,
	state_registrations JSON,
	sro_registrations JSON,
	current_registrations JSON,
	previous_registrations JSON,
	PRIMARY KEY (id),
	FOREIGN KEY(advisor_id) REFERENCES advisors (id)
)

/*
3 rows from brokercheck_data table:
id	advisor_id	disclosures	timeline	exams	state_registrations	sro_registrations	current_registrations	previous_registrations
1	4	0	[{'firm': 'FIRST COMMAND ADVISORY SERVICES (CRD# 281958)', 'years': '2015 - Present (8 years)'}, {'f	[{'category': 'State Securities Law Exam', 'exams': [{'name': 'Series 65 - Uniform Investment Advise	[]	['FINRA']	[{'firm_name': 'FIRST COMMAND BROKERAGE SERVICES, INC. (CRD#:3641)', 'crd_number': '3641', 'address'	[{'as_a': 'Investment Advisor', 'registration_period': '08/20/2008 - 12/15/2015', 'firm_name': 'FIRS
2	5	1	[{'firm': 'EPLANNING SECURITIES, INC. (CRD# 46000)', 'years': '2007 - 2007 (<1 year)'}, {'firm': 'NF	[{'category': 'State Securities Law Exam', 'exams': [{'name': 'Series 65 - Uniform Investment Advise	[]	[]	[]	[{'as_a': 'Broker', 'registration_period': '03/06/2007 - 09/26/2007', 'firm_name': 'EPLANNING SECURI
3	6	0	[{'firm': '2 FIRMS', 'years': '2010 - 2017 (7 years)'}, {'firm': 'RBA WEALTH MANAGEMENT, LLC (CRD# 2	[{'category': 'State Securities Law Exam', 'exams': [{'name': 'Series 66 - Uniform Combined State La	[]	['FINRA']	[{'firm_name': 'PURSHE KAPLAN STERLING INVESTMENTS (CRD#:35747)', 'crd_number': '35747', 'address': 	[{'as_a': 'Investment Advisor', 'registration_period': '11/03/2017 - 01/03/2018', 'firm_name': 'N/A'
*/


CREATE TABLE linkedin_profiles (
	urn VARCHAR NOT NULL,
	advisor_id INTEGER,
	username VARCHAR,
	"firstName" VARCHAR,
	"lastName" VARCHAR,
	"isCreator" BOOLEAN,
	"isOpenToWork" BOOLEAN,
	"isHiring" BOOLEAN,
	"profilePicture" VARCHAR,
	"backgroundImage" JSON,
	summary TEXT,
	headline VARCHAR,
	geo JSON,
	languages JSON,
	educations JSON,
	position JSON,
	"fullPositions" JSON,
	skills JSON,
	courses JSON,
	certifications JSON,
	honors JSON,
	projects JSON,
	volunteering JSON,
	PRIMARY KEY (urn),
	FOREIGN KEY(advisor_id) REFERENCES advisors (id)
)

/*
3 rows from linkedin_profiles table:
urn	advisor_id	username	firstName	lastName	isCreator	isOpenToWork	isHiring	profilePicture	backgroundImage	summary	headline	geo	languages	educations	position	fullPositions	skills	courses	certifications	honors	projects	volunteering
ACoAAAQjPjABHZr3KkdKb3cae3wIV3kao2WV2jg	4	billstropp	Bill	Stropp	False	False	False	https://media.licdn.com/dms/image/C4D03AQGN35_EF9t7bw/profile-displayphoto-shrink_800_800/0/15168656	[{'width': 400, 'height': 100, 'url': 'https://media.licdn.com/dms/image/C4E16AQGUGdSosuQfLg/profile	Assisting existing clients and creating new clients for First Command Financial Services in Central 	Financial Advisor and Principal at First Command Financial Services, Inc.	{'country': 'United States', 'city': 'Lady Lake, Florida', 'full': 'Lady Lake, Florida, United State	None	[{'start': {'year': 1969, 'month': 0, 'day': 0}, 'end': {'year': 1973, 'month': 0, 'day': 0}, 'field	[{'companyName': 'First Command Financial Services, Inc.', 'companyUsername': 'first-command-financi	[{'companyName': 'First Command Financial Services, Inc.', 'companyUsername': 'first-command-financi	[{'name': 'Financial Planning', 'passedSkillAssessment': False}, {'name': 'Investments', 'passedSkil	None	None	[{'title': 'Regional Recruiter of the Year', 'description': '1998', 'issuer': 'First Command Financi	{'total': 0, 'items': None}	None
ACoAABeQY5UB6Z0_AMgRXSNppl4U4Hl9ICFKlyI	5	george-t-damasco-b31493b0	George T.	Damasco	False	False	False	https://media.licdn.com/dms/image/D5603AQGyw6Rb2hgcBw/profile-displayphoto-shrink_800_800/0/16861547	[{'width': 800, 'height': 199, 'url': 'https://media.licdn.com/dms/image/D5616AQH2JYymzNk-Eg/profile	At MPM Wealth Advisors, we know you want to be excited about retirement. To do that, you need to mak	Partner @ MPM Wealth Advisors	{'country': 'United States', 'city': 'Holland, Ohio', 'full': 'Holland, Ohio, United States'}	[{'name': 'English', 'proficiency': ''}]	[{'start': {'year': 2004, 'month': 0, 'day': 0}, 'end': {'year': 2008, 'month': 0, 'day': 0}, 'field	[{'companyName': 'MPM Wealth Advisors', 'companyUsername': 'mpm-wealth-advisors', 'companyURL': 'htt	[{'companyName': 'MPM Wealth Advisors', 'companyUsername': 'mpm-wealth-advisors', 'companyURL': 'htt	[{'name': 'Investments', 'passedSkillAssessment': False}, {'name': 'Portfolio Management', 'passedSk	None	None	None	{'total': 0, 'items': None}	[{'title': 'President, Vice President, Sgt at Arms, President of Board', 'start': {'year': 2007, 'mo
ACoAAA-cuJwBjUYsUsaEOYUA459U8LGKQa_kefs	6	thomas-hoffman-42487773	Thomas	Hoffman	False	False	False		[{'width': 800, 'height': 200, 'url': 'https://media.licdn.com/dms/image/C5616AQF33h-UOBXGuw/profile	I began working with Principal Financial in 2022. As a financial professional, my goal is to listen 	Financial Representative, Principal Securities Registered Representative, Financial Advisor at Princ	{'country': 'United States', 'city': 'Greater Minneapolis-St. Paul Area', 'full': 'Greater Minneapol	[{'name': 'English', 'proficiency': 'NATIVE_OR_BILINGUAL'}, {'name': 'German', 'proficiency': 'LIMIT	[{'start': {'year': 2012, 'month': 0, 'day': 0}, 'end': {'year': 2016, 'month': 0, 'day': 0}, 'field	[{'companyName': 'Principal Financial Group', 'companyUsername': 'principalfinancialgroup', 'company	[{'companyName': 'Principal Financial Group', 'companyUsername': 'principalfinancialgroup', 'company	[{'name': 'Retirement Planning', 'passedSkillAssessment': False}]	None	None	None	{'total': 0, 'items': None}	None
*/

    Double check the sqlite query for common mistakes, including:
    - Using NOT IN with NULL values
    - Using UNION when UNION ALL should have been used
    - Using BETWEEN for exclusive ranges
    - Data type mismatch in predicates
    - Properly quoting identifiers
    - Using the correct number of arguments for functions
    - Casting to the correct data type
    - Using the proper columns for joins

    You have access to tools for interacting with the database.

    Only use the below tools. Only use the information returned by the below tools to construct your final answer.
    You MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.

    DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.

    To start you should ALWAYS look at the tables in the database to see what you can query.
    Do NOT skip this step.
    Then you should query the schema of the most relevant tables.

## Lets Give this to LLM

In [179]:
from langchain_community.agent_toolkits import SQLDatabaseToolkit
from langchain.agents import create_sql_agent
from langsmith import traceable
from langsmith.wrappers import wrap_openai

@traceable
def ask(query, config):
    return agent_executor.invoke( {"input": [HumanMessage(content=query)]}, config)


client = wrap_openai(openai.Client())

llm = ChatOpenAI(model="gpt-4o")
toolkit = SQLDatabaseToolkit(db=db, llm=llm)
memory = SqliteSaver.from_conn_string(":memory:")
agent_executor = create_sql_agent(llm, toolkit, messages_modifier=_modfify_message, checkpointer=memory)

In [184]:
question = "who have this certification Long Term Care Specialist?"
config = {
    "configurable": {
        "thread_id": 143456,
    }
}
res = ask(question, config)
print(res)

{'input': [HumanMessage(content='who have this certification Long Term Care Specialist?')], 'output': 'Bonnie S. Laffie, CLU, ChFC, CLTC, has a certification related to Long-Term Care.'}